.btn {
  display: inline-block;
  font-weight: 400;
  color: $color-clear;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
  padding: rem(16px 27px);
  font-size: inherit;
  font-weight: $font-weight-semibold;
  font-family: $font-family-base;
  line-height: 1;
  border-radius: 1em;
  font-size: rem(16px);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  span {
    vertical-align: middle;
    display: inline-block;
  }

  img {
    vertical-align: middle;
    display: inline-block;
    margin: rem(-7px 15px -5px -10px);
  }
}

.btn-primary {
  background-color: $primary;
  color: $color-clear;

  &:hover {
    color: $color-clear;
    background-color: lighten($primary, 5%);
  }

  &:active {
    color: $color-clear;
    background-color: darken($primary, 5%);
  }
}

.btn-secondary {
  background-color: $color-dark;
  color: $color-clear;

  &:hover {
    color: $color-clear;
    background-color: lighten($color-dark, 5%);
  }

  &:active {
    color: $color-clear;
    background-color: darken($color-dark, 5%);
  }
}

.btn-block {
  width: 100%;
}

.buttons-inline {
  .row {
    margin-left: rem(-6px);
    margin-right: rem(-6px);
  }

  .col {
    padding-left: rem(6px);
    padding-right: rem(6px);
  }
}

.btn-outline-secondary {
  color: $color-dark;
  border: 0;
  box-shadow: inset 0 0 0 2px $color-dark;
}
