.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-weight: $font-weight-medium;
  color: $color-light;
  letter-spacing: 0;
  padding: rem(40px) 0;
  line-height: normal;
  white-space: nowrap;
  font-size: rem(16px);
  line-height: 2;
}

.footer-brand {
  font-weight: $font-weight-semibold;
}
