.control-label {
  font-size: inherit;
  color: $color-light;
  letter-spacing: 0;
  user-select: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-group {
  .form-control {
    padding-right: 0 !important;
  }
}

.form-group {
  margin-bottom: rem(16px);
  position: relative;
}

.form-control {
  height: rem(48px);
  padding: rem(8px 20px);
  border: 0;
  border-radius: rem(16px);
  outline: none !important;
  box-shadow: none !important;
  background-color: #f1f3f7 !important;
  appearance: none;
  font-weight: 500;

  @include placeholder {
    font-size: rem(16px);
    color: $color-light;
  }
}

.input-group-prepend {
  .btn {
    background-color: #f1f3f7 !important;
    border-radius: rem(0 16px 16px 0) !important;
    font-size: rem(16px);
    color: $primary;
    letter-spacing: 0;
    padding: rem(8px 20px);
  }
}

.form_subscribe {
  padding-top: rem(45px);

  .control-label {
    font-size: rem(16px);
  }

  h4 {
    margin-bottom: rem(2px);
  }

  .row {
    margin-left: rem(-4px);
    margin-right: rem(-4px);

    .col {
      padding-left: rem(4px);
      padding-right: rem(4px);
    }
  }

  @media (#{$min_phones--big}) {
    .row {
      .col {
        &:last-child {
          margin-left: rem(8px);
        }
      }
    }
  }

  @media (#{$max_phones--big}) {
    padding-top: 0;

    h4 {
      margin-bottom: 5px;
    }
  }
}

.form-check-label {
  line-height: rem(30px);
  padding-left: rem(44px);
  font-size: rem(16px);
  line-height: rem(32px);
  color: $color-dark;
  font-weight: 500;
  cursor: pointer;

  input {
    top: 50%;
    margin-left: 0;
    margin-top: rem(-9px);
    left: rem(16px);

    &:checked {
      filter: invert(0%) hue-rotate(17deg) brightness(0.9);
    }
  }
}

.form-error {
  font-weight: 600;
  font-size: rem(14px);
  color: #ee215e;
  line-height: rem(16px);
  margin-top: rem(10px);

  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
