.header {
  padding: rem(24px) 0 rem(18px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  line-height: normal;
  font-size: rem();
  background-color: $white;

  @media (#{$max_phones--big}) {
    overflow: visible;

    img {
      width: 120px;
      position: relative;
      z-index: 21;
    }

    &.open {
      position: fixed;
      z-index: 21;

      ~ .footer {
        position: fixed;
      }
    }
  }
}

.navbar-nav {
  letter-spacing: 0;
  align-items: center;
  padding: rem(7px) 0;

  .nav-link {
    color: $color-dark;
    font-weight: $font-weight-semibold;
    font-size: rem(16px);

    &--icon {
      font-size: 0;
    }

    &:hover,
    &.active,
    .active & {
      color: $color-primary;
    }
  }

  .nav-item {
    margin-bottom: 0;
  }

  .icon {
    font-size: rem(20px);
  }

  @media (#{$max_phones--big}) {
    .nav-link {
      font-size: rem(24px);
      padding-top: 2h;
      padding-bottom: 2vh;
    }
  }
}

@media (#{$min_phones--big}) {
  .navbar-expand-md .navbar-nav {
    .nav-link {
      padding-left: 1vw;
      padding-right: 1vw;
    }

    .nav-item:last-child {
      margin-right: -1vw;
    }
  }
}

.navbar-toggler {
  position: relative;
  z-index: 21;
  margin-right: rem(-10px);

  span:before,
  span:after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    text-indent: -9999px;
    background-color: $primary;
    height: 2px;
    width: 20px;
    left: 50%;
    margin-left: -10px;
    transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out,
      top 0.5s ease-in-out, margin 0.3s ease-in-out;
  }

  span:before {
    top: 50%;
    margin-top: -4px;
  }
  span:after {
    top: 50%;
    margin-top: 4px;
  }

  .open & {
    span {
      &:before {
        margin-top: 0;
        transform: rotate(45deg);
      }

      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

.navbar-collapse {
  @media (#{$max_phones--big}) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh !important;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    .ml-auto {
      margin-left: 0 !important;
    }
  }
}
