.layout {
  padding-top: rem(110px);
  padding-bottom: rem(110px);
  min-height: 100vh;
}

.container {
  max-width: 1010px + 30px;
}

.section {
  padding: rem(120px) 0;
  padding: 7vh 0;

  &__content {
    padding-top: rem(60px);
    padding-top: 5.5vh;
  }

  @media (#{$max_phones--big}) {
    padding: rem(30px) 0;
  }
}

.section_lead {
  &__image {
    max-width: 100%;
    max-height: calc(100vh - 110px - 110px);
    position: relative;
    z-index: 2;
    width: auto;
  }

  &__video {
    width: auto;
    max-width: rem(320px);
    max-height: calc(100vh - 110px - 110px);
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    pointer-events: none;
  }

  .video_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: rem(16px 18px 18px);

    video {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .buttons-inline {
    margin-bottom: rem(50px);
  }

  @media all and (max-height: 820px) {
    .video_container {
      padding: rem(12px 14px);
    }
  }

  @media (#{$min_phones}) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > .container {
      height: 100%;

      > .row {
        height: 100%;
      }
    }
  }

  @media (#{$max_tablets}) {
    .video_container {
      padding: rem(12px 14px);
    }
  }
}

.section_about {
  &__group {
    padding-bottom: rem(70px);

    &:first-child {
      padding-top: 0 !important;
    }

    &:last-child {
      padding-bottom: 0 !important;
    }
  }

  @media (#{$max_phones--big}) {
    &__group {
      padding-bottom: rem(35px);
    }
  }
}

.section_error {
  h1 {
    font-size: rem(100px);
    color: $primary;
  }
}

.roadmap_item {
  margin-bottom: rem(45px);

  &__header {
    padding-bottom: rem(50px);
    margin-bottom: rem(45px);
    border-bottom: 1px solid $color-lighter;
  }

  &__title {
    margin-bottom: 0;

    .icon {
      margin-left: rem(4px);
      font-size: rem(12px);
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__desc {
    font-size: rem(18px);
    color: $color-light;
    line-height: rem(32px);
    font-weight: $font-weight-normal;
  }

  &__list {
    list-style: none;
    padding: 0 rem(10px) 0 0;
    line-height: rem(30px);

    li {
      margin-bottom: rem(30px);
    }
  }
}

.section_contacts {
  &__map {
    width: 100%;
    height: rem(530px);
    margin-bottom: rem(45px);
    background-color: rgba($color-light, 0.2);

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__address {
    width: rem(590px);
    max-width: 100%;

    a {
      color: inherit;

      &:hover {
        color: $color-primary;
      }
    }
  }

  @media (#{$max_phones--big}) {
    &__map {
      height: 300px;
      height: 40vh;
    }
  }
}

.mobile_video {
  margin-bottom: rem(40px);
  margin-top: rem(-10px);
}

.modal {
  background-color: $white;
  height: 100%;

  .video_container {
    width: 100%;
    height: 100%;

    video {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-body {
  padding-top: 0;
}

.modal-dialog {
  margin: 0;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  height: 100%;
  text-align: center;
}

.modal-content {
  height: 100%;
}

.modal-header {
  width: 100%;
  z-index: 10;
  border-bottom: 0;

  .close {
    font-size: 30px;
    line-height: 20px;
    font-weight: normal;
    font-family: $font-family-base;
    color: $dark;
    opacity: 1;
    height: auto;

    span {
      display: block;
    }
  }
}

.modal-body {
  height: calc(100% - 44px);
}
