@font-face {
  font-family: "Manrope";
  src: url("./../fonts/manrope-extrabold.woff2") format("woff2"),
    url("./../fonts/manrope-extrabold.woff") format("woff"),
    url("./../fonts/manrope-extrabold.otf") format("truetype");
  font-style: normal;
  font-display: fallback;
  font-weight: 800;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/manrope-bold.woff2") format("woff2"),
    url("./../fonts/manrope-bold.woff") format("woff"),
    url("./../fonts/manrope-bold.otf") format("truetype");
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/manrope-semibold.woff2") format("woff2"),
    url("./../fonts/manrope-semibold.woff") format("woff"),
    url("./../fonts/manrope-semibold.otf") format("truetype");
  font-style: normal;
  font-display: fallback;
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/manrope-medium.woff2") format("woff2"),
    url("./../fonts/manrope-medium.woff") format("woff"),
    url("./../fonts/manrope-medium.otf") format("truetype");
  font-style: normal;
  font-display: fallback;
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("./../fonts/manrope-regular.woff2") format("woff2"),
    url("./../fonts/manrope-regular.woff") format("woff"),
    url("./../fonts/manrope-regular.otf") format("truetype");
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
}
