html {
  font-size: $rem-baseline;

  @media (#{$max_tablets}) {
    font-size: 14px;
  }

  @media (#{$max_phones--big}) {
    font-size: 11px;
  }

  @media (#{$max_phones}) {
    font-size: 12px;
  }
}

body {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: 2;
  color: $color-dark;
  position: relative;
  overflow-y: scroll;

  @include fontantialias(true);

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 10px;
    background-color: transparent; /* or add it to the track */
  }

  &::-webkit-scrollbar-thumb {
    background: $color-dark;
  }

  @media (#{$max_phones}) {
    line-height: 1.7;
  }
}

a:focus,
input:focus,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none;
  transition: all $transition;
  color: inherit;

  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-extrabold;
  line-height: 1.4;
  color: inherit;
}

h1 {
  font-size: rem(40px);
  margin-bottom: rem(40px);

  @media (#{$max_phones}) {
    font-size: rem(32px);
  }
}

h2 {
  font-size: rem(32px);
}

h3 {
  font-size: rem(24px);
}

h4 {
  font-size: rem(18px);
}

p {
  line-height: inherit;
  font-weight: inherit;
  margin-bottom: 2em;

  a {
    color: $color-primary;
  }
}

p.lead {
  font-size: rem(24px);
  line-height: rem(40px);
  font-weight: inherit;
  margin-bottom: rem(70px);
  margin-top: rem(15px);
}

ul,
ol {
  margin-bottom: 2em;
  padding-left: 1em;

  li {
    margin-bottom: 1em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
