@font-face {
  font-family: "icons";
  src: url("./../fonts/icon.eot?nbys71");
  src: url("./../fonts/icon.eot?nbys71#iefix") format("embedded-opentype"),
    url("./../fonts/icon.ttf?nbys71") format("truetype"),
    url("./../fonts/icon.woff?nbys71") format("woff"),
    url("./../fonts/icon.svg?nbys71#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: "icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--check:before {
  content: "\e905";
}
.icon--medium:before {
  content: "\e904";
}
.icon--facebook:before {
  content: "\e900";
}
.icon--telegram-circle:before {
  content: "\e901";
}
.icon--facebook-square:before {
  content: "\e902";
}
.icon--twitter:before {
  content: "\e903";
}
