$color-primary: $primary;
$color-dark: #323232;
$color-light: #a1a8bc;
$color-clear: #ffffff;
$color-lighter: #e8e9ed;

$font-family-base: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Arial, sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-size-base: rem(18px);
$font-weight-base: $font-weight-medium;
$transition: 0.3s ease;

//aspect ratios:
$rect_aspect_ratio: "min-aspect-ratio: 6/10";
$square_aspect_ratio: "min-aspect-ratio: 3/4";
// for retina and other HDPI
$HDPI: "only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 13/10), only screen and (min-resolution: 120dpi)";

$max_phones--tiny: "max-width: 320px";
$min_phones--tiny: "min-width: 321px";

$max_phones--small: "max-width: 375px";
$min_phones--small: "min-width: 376px";

$max_phones: "max-width: 575px";
$min_phones: "min-width: 576px";

$max_phones--big: "max-width: 767px";
$min_phones--big: "min-width: 768px";

$max_tablets--portrait: "max-width: 768px";
$min_tablets--portrait: "min-width: 769px";

$max_tablets: "max-width: 991px";
$min_tablets: "min-width: 992px";

$max_tablets--landscape: "max-width: 1050px";
$min_tablets--landscape: "min-width: 1051px";

$max_laptop--small: "max-width: 1280px";
$min_laptop--small: "min-width: 1281px";

$max_laptop: "max-width: 1366px";
$min_laptop: "min-width: 1367px";

$max_desktop--small: "max-width: 1440px";
$min_desktop--small: "min-width: 1441px";

$max_desktop: "max-width: 1600px";
$min_desktop: "min-width: 1601px";

$max_fullhd: "max-width: 1920px";
$min_fullhd: "min-width: 1921px";

$max_big: "max-width: 2047px";
$min_big: "min-width: 2048px";

$max_high: "max-width: 2559px";
$min_high: "min-width: 2560px";

$landscape: "orientation: landscape";
$portrait: "orientation: portrait";
